body{
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

#login{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 200px;
    padding: 30px; 
}

#login #logar{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}